<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>inicio.Servlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Alumno</servlet-name>
        <servlet-class>alumno.Alumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>administrador.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Error</servlet-name>
        <servlet-class>inicio.Error</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inicio</servlet-name>
        <servlet-class>inicio.Inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregaU</servlet-name>
        <servlet-class>administrador.AgregaU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngresaU</servlet-name>
        <servlet-class>administrador.IngresaU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarU</servlet-name>
        <servlet-class>administrador.BuscarU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModElimU</servlet-name>
        <servlet-class>administrador.ModElimU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarU</servlet-name>
        <servlet-class>administrador.EliminarU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarU</servlet-name>
        <servlet-class>administrador.ModificarU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarG</servlet-name>
        <servlet-class>administrador.BuscarG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngresaG</servlet-name>
        <servlet-class>administrador.IngresaG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModElimG</servlet-name>
        <servlet-class>administrador.ModElimG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarAgregar</servlet-name>
        <servlet-class>administrador.ModificarAgregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregaG</servlet-name>
        <servlet-class>administrador.AgregaG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contra</servlet-name>
        <servlet-class>inicio.Contra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarG</servlet-name>
        <servlet-class>administrador.EliminarG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregaE</servlet-name>
        <servlet-class>profesor.AgregaE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuarios</servlet-name>
        <servlet-class>administrador.Usuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Grupos</servlet-name>
        <servlet-class>administrador.Grupos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profesor</servlet-name>
        <servlet-class>profesor.Profesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoU</servlet-name>
        <servlet-class>profesor.InfoU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerGrupo</servlet-name>
        <servlet-class>profesor.VerGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>profesor.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>profesor.NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/Servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Alumno</servlet-name>
        <url-pattern>/Alumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/Error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregaU</servlet-name>
        <url-pattern>/AgregaU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngresaU</servlet-name>
        <url-pattern>/IngresaU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarU</servlet-name>
        <url-pattern>/BuscarU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModElimU</servlet-name>
        <url-pattern>/ModElimU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarU</servlet-name>
        <url-pattern>/EliminarU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarU</servlet-name>
        <url-pattern>/ModificarU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarG</servlet-name>
        <url-pattern>/BuscarG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngresaG</servlet-name>
        <url-pattern>/IngresaG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModElimG</servlet-name>
        <url-pattern>/ModElimG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarAgregar</servlet-name>
        <url-pattern>/ModificarAgregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregaG</servlet-name>
        <url-pattern>/AgregaG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contra</servlet-name>
        <url-pattern>/Contra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarG</servlet-name>
        <url-pattern>/EliminarG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregaE</servlet-name>
        <url-pattern>/AgregaE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuarios</servlet-name>
        <url-pattern>/Usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Grupos</servlet-name>
        <url-pattern>/Grupos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profesor</servlet-name>
        <url-pattern>/Profesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoU</servlet-name>
        <url-pattern>/InfoU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerGrupo</servlet-name>
        <url-pattern>/VerGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
