<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>administrator.Servlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDiagram</servlet-name>
        <servlet-class>administrator.CreateDiagram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Design</servlet-name>
        <servlet-class>administrator.Design</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>administrator.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Diagrama</servlet-name>
        <servlet-class>administrator.Diagrama</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Almacenar</servlet-name>
        <servlet-class>administrator.Almacenar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validar</servlet-name>
        <servlet-class>administrator.Validar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ver</servlet-name>
        <servlet-class>administrator.Ver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuP</servlet-name>
        <servlet-class>administrator.MenuP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar</servlet-name>
        <servlet-class>administrator.Eliminar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/Servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDiagram</servlet-name>
        <url-pattern>/CreateDiagram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Design</servlet-name>
        <url-pattern>/Design</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Diagrama</servlet-name>
        <url-pattern>/Diagrama</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Almacenar</servlet-name>
        <url-pattern>/Almacenar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validar</servlet-name>
        <url-pattern>/Validar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ver</servlet-name>
        <url-pattern>/Ver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuP</servlet-name>
        <url-pattern>/MenuP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar</servlet-name>
        <url-pattern>/Eliminar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
